.menu{
    width: 150px;
    height: 1820px;
    background-color: #D0FFF4;
    border: gray;
    position: fixed;
    top: -10px;
}

.logo{
    position: relative;
    left: 20px;
    top: 30px;
    width: 100px;
    height: 130px; 
}

.boton{
    position: relative;
    top: 50px;
    left: 35px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    font-size: 20px;
    color: #ffff;
    background-color: lightpink;
    width: 79px;
    height: 100px;
}

.palabras {
    position: relative;
    top: -5px;
}

.palabras2 {
    position: relative;
    top: -5px;
    font-size: 13px;
}

.home{
    position: relative;
    width: 50px;
}

.boton1{
    position: relative;
    top: 50px;
    left: 35px;
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    font-size: 20px;
    color: darkmagenta;
    background: transparent; /* Establece el fondo como transparente */
    border: none; /* Elimina cualquier borde */
    width: 79px;
    height: 100px;
}

.boton2{
    position: relative;
    top: 50px;
    left: 35px;
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    font-size: 20px;
    color: darkmagenta;
    background: transparent; /* Establece el fondo como transparente */
    border: none; /* Elimina cualquier borde */
    width: 79px;
    height: 100px;
}

.boton3{
    position: relative;
    top: 50px;
    left: 35px;
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    font-size: 20px;
    color: darkmagenta;
    background: transparent; /* Establece el fondo como transparente */
    border: none; /* Elimina cualquier borde */
    width: 79px;
    height: 100px;
}

.boton4{
    position: relative;
    top: 50px;
    left: 35px;
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    font-size: 20px;
    color: darkmagenta;
    background: transparent; /* Establece el fondo como transparente */
    border: none; /* Elimina cualquier borde */
    width: 79px;
    height: 100px;
}

.boton5{
    position: relative;
    top: 150px;
    left: 35px;
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    font-size: 20px;
    color: darkmagenta;
    background: transparent; /* Establece el fondo como transparente */
    border: none; /* Elimina cualquier borde */
    width: 79px;
    height: 100px;
}

.detras{
    z-index: 1;
}

.orden{
    position: fixed;
    background-color: #FFEBC3;
    width: 600px;
    height: 920px;
    left: 1320px;
    top: 2px;
}

.letras{
    font-size: 40px;
    position: relative;
    left: 20px;
    top: -15px;
}

.letras2{
    font-size: 40px;
    position: relative;
    left: 20px;
    top: -5px;
}

.letras3{
    font-size: 40px;
    position: relative;
    left: 20px;
    top: -35px;
}

.chispas{
    border-radius: 10px; /* Esto establece las esquinas redondas con un radio de 10px */
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    border: 2px solid #ccc; /* Esto agrega un borde con un color gris claro */
    width: 500px;
    height: 35px;
    position: relative;
    left: 50px;
    top: -30px;
    background-color: #ffff;
}

.letra{
    position: relative;
    top: -8px;
}

.cono{
    width: 600px;
    border: 1px solid black;
    height: 563px;
    position: relative;
    top: 25px;
    background-color: #ffff;
}

.divsChispas{
    position: relative;
    top: -30px;
}

.botonesAC{
    position: relative;
    top: -10px;
}

.boton6{
    position: relative;
    top: 50px;
    left: 65px;
    border-radius: 10px; /* Esto establece las esquinas redondas con un radio de 10px */
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    border: 2px solid #ccc; /* Esto agrega un borde con un color gris claro */
    font-size: 20px;
    color: gray;
    background-color: azure;
}

.boton7{
    position: relative;
    top: 50px;
    left: 95px;
    border-radius: 10px; /* Esto establece las esquinas redondas con un radio de 10px */
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    border: 2px solid #ccc; /* Esto agrega un borde con un color gris claro */
    font-size: 20px;
    color: gray;
    background-color: azure;
}

.boton8{
    position: relative;
    top: 50px;
    left: 125px;
    border-radius: 10px; /* Esto establece las esquinas redondas con un radio de 10px */
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    border: 2px solid #ccc; /* Esto agrega un borde con un color gris claro */
    font-size: 20px;
    color: gray;
    background-color: azure;
}

.conos{
    position: relative;
    width: 100px;
}

.cancelar{
    position: relative;
    background-color: #EE6389;
    left: 50px;
    top: 30px;
    width: 500px;
    height: 35px;
    border-radius: 10px; /* Esto establece las esquinas redondas con un radio de 10px */
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    border: 2px solid #ccc; /* Esto agrega un borde con un color gris claro */
    font-size: 20px;
    color: #ffff;
}

.aceptar{
    position: relative;
    background-color: #D0FFF4;
    left: 50px;
    top: -60px;
    width: 500px;
    height: 35px;
    border-radius: 10px; /* Esto establece las esquinas redondas con un radio de 10px */
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    border: 2px solid #ccc; /* Esto agrega un borde con un color gris claro */
    font-size: 20px;
    color: #EE6389;
}

.cancelar p{
    position: relative;
    
}

.heladosBotones{
    position: relative;
    top: -55px;
}

.principal{
    position: relative;
    top: 270px;
    left: 200px;
    position: fixed;
}

.menuss{
    font-size: 40px;
    position: relative;
    left: 20px;

}

.boton9{
    position: relative;
    top: 50px;
    left: 155px;
    border-radius: 10px; /* Esto establece las esquinas redondas con un radio de 10px */
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    border: 2px solid #ccc; /* Esto agrega un borde con un color gris claro */
    font-size: 20px;
    color: gray;
    background-color: azure;
}

.boton101{
    position: relative;
    top: 50px;
    left: 185px;
    border-radius: 10px; /* Esto establece las esquinas redondas con un radio de 10px */
    padding: 10px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    border: 2px solid #ccc; /* Esto agrega un borde con un color gris claro */
    font-size: 20px;
    color: gray;
    background-color: azure;
}

.produc{
    position: relative;
    top: 50px;
    left: 65px;
    border-radius: 10px; /* Esto establece las esquinas redondas con un radio de 10px */
    padding: 5px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    border: 2px solid #ccc; /* Esto agrega un borde con un color gris claro */
    font-size: 20px;
    color: gray;
    background-color: azure;
    z-index: 1;
    width: 200px;
}

.heladoss{
    position: relative;
    top: -50px;
    left: 80px;
}

.produc2{
    position: relative;
    top: 50px;
    left: 95px;
    border-radius: 10px; /* Esto establece las esquinas redondas con un radio de 10px */
    padding: 5px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    border: 2px solid #ccc; /* Esto agrega un borde con un color gris claro */
    font-size: 20px;
    color: gray;
    background-color: azure;
    z-index: 1;
    width: 200px;
}

.produc3{
    position: relative;
    top: 50px;
    left: 125px;
    border-radius: 10px; /* Esto establece las esquinas redondas con un radio de 10px */
    padding: 5px; /* Esto agrega espacio interno para que el texto no esté pegado a los bordes redondos */
    border: 2px solid #ccc; /* Esto agrega un borde con un color gris claro */
    font-size: 20px;
    color: gray;
    background-color: azure;
    z-index: 1;
    width: 200px;
}

.productos{
    position: relative;
    width: 110px;
}

.botones{
    position: relative;
    left: 120px;
    top: -100px;
}

.search_containers {
    position: relative;
    display: inline-block;
    top: -40px;
    position: relative;
    left: 700px; 
  }
  
  .mySearchBars {
    padding: 10px 30px 10px 10px; /* Ajusta los valores de padding según tu diseño */
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 25px;
    width: 350px; /* Ajusta el ancho según tus necesidades */
    background-color: #ffff;
  }
  
  .search_icons {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: #ffff; /* Cambia el color del icono según tus preferencias */ 
    font-size: 18px; /* Ajusta el tamaño del icono según tus necesidades */
    pointer-events: none; /* Evita que el icono sea clickeable */
  }

.chocofresa{
    position: fixed;
    width: 1220px;
    top: 655px;
    height: 270px;
    right: 550px;
}

.choco{
    position: relative;
    width: 1220px;
    top: 265px;
    height: 270px;
    right: 50px;
    z-index: -1;
}

.navdropdowns{
    position: relative;
    left: 880px; 
    top: -70px;
}

.navdropdowns::title{
    font-size: 10px
}

.categorias {
    position: relative;
    top: 300px;
}

.mas {
    position: relative;
    top: -55px;
    left: 200px;
    color: black;
    font-size: 20px;
}

.menos {
    position: relative;
    top: -50px;
    left: 350px;
    color: black;
    font-size: 20px;
}
 
.cifra {
    position: relative;
    top: -50px;
    left: 275px;
    font-size: 20px;
}

.scrollable-container {
    max-height: 450px; 
    overflow-y: auto;
    max-width: 60%;
  }