:root {
  --background-image: url(../assets/img/bryn_beatson_yirlhy5qsqe_unsplash_2.png);
}

.pagina {
  background-image: var(--background-image);
  width: 100%;
  height: 100vh;
}

.box {
  position: relative;
  width: 5rem;
  height: 5rem;
}

.logo {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.formu-login {
  background-color: rgb(245, 240, 220);
  width: 50%;
  min-width: 20rem;
  height: auto;
  padding: 1.5rem;
  border: 1px solid #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.center-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}